@model IEnumerable<BaiTapVideo.Areas.Admin.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="post">
    <input type="text" name="txt_key" required />
    <select name="ddl_cat" asp-items="ViewBag.ListCat"></select>
    <select name="ddl_stt" asp-items="ViewBag.listStatus"></select>
    
    <button type="submit">Search</button>
</form>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h3>Số lượng bài viết: @ViewBag.NumRs</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat.Name)
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullContent)
            </td>
            <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.Img)" alt="Hình ảnh" style="height: 100px;width: 110px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
